body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    transition: background-color 1s ease;
}

h1 {
      font-size: 2rem;
      margin-bottom: 1rem;
      text-align: center;
}

label {
      font-weight: 600;
}

.container {
      max-width: 500px;
      margin: 2rem auto;
      padding: 2rem;
      border-radius: 12px;
      background:#f9f9f9;
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

form {
      display: flex;
      flex-direction: column;
      gap: 1rem;
}

input[type="text"]{
      padding: 0.75rem;
      font-size: 1rem;
      border: 1px solid #ccc;
      border-radius: 8px;
}
button {
      padding: 0.5rem;
      font-size: 1rem;
}

button[type="submit"]{
      padding: 0.75rem;
      background-color: #0077cc;
      color:#fff;
      border: none;
      font-size: 1rem;
      border-radius: 8px;
      cursor: pointer;
      transition: background 0.3s ease;
}

button:hover{
      background-color: #005fa3;
}

#weatherResult {
      display: none; /* Initially hidden */
      margin-top: 1.5rem;
      font-size: 1.1rem;
      background-color: #e0f7fa;
      padding: 1rem;
      border-radius: 8px;
      border-left: 5px solid #00acc1;
      animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
      from {
            opacity: 0;
      }
      to {
            opacity: 1;
      }
}
      
@media (max-width: 600px){
      .container {
            margin: 1rem;
            padding: 1rem;
      }

      input, button {
            font-size: 1rem;
      }
}

/* animate the background of weather app based on weather result */

.weather-clear {
  background: linear-gradient(to top, #a1c4fd, #c2e9fb);
}

.weather-clouds {
  background: linear-gradient(to top, #d7d2cc, #304352);
}

.weather-rain {
  background: linear-gradient(to top, #bdc3c7, #2c3e50);
}

.weather-snow {
  background: linear-gradient(to top, #e0eafc, #cfdef3);
}

.weather-thunderstorm {
  background: linear-gradient(to top, #373B44, #4286f4);
}

.weather-fog {
  background: linear-gradient(to top, #757f9a, #d7dde8);
}

.weather-default {
  background: linear-gradient(to top, #ece9e6, #ffffff);
}
